.homepage-container {
  text-align: center;
  padding: 40px 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-size: 40px;
  color: #333;
  margin-bottom: 10px;
}
h2 {
  font-size: 26px;
}

p {
  font-size: 22px;
  color: #555;
  margin-bottom: 40px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  background-color: #f8f9fa;
  padding: 25px;
  border-radius: 10px;
  width: 280px;
}
